/* ======== old background color - #808080  ======== */


html {
    background-color: #0f1739 ;
}

body {
    margin: 10px;
    border-radius: 25px;
    max-width: 1000px;
  align-items: center;
}



/*  ======= Header =======  */

header {
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
}


.main-image img {
    max-width: 150px;
    padding: 20px;
}



/* ======= navigation ======= */

.active { color: coral;
}

#main-nav {
    margin: 5px;
    display: inline-block;
}

#main-nav li {
    padding: 15px;
    text-decoration: none; 
    display: inline;
    margin: 70px;
}

#main-nav a{
text-decoration: none;
}

#hamburger img {
    max-width: 40px;
    float: right;
    padding: 20px;
}



/* ======== mobile nav ======== */

#mobile-nav {
text-decoration: none;
    padding: 10px;
}


/* ======= main content ======= */



.activities{

border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 150px;
    margin-bottom: 100px;
    padding-left: 20px;
   
}




.act1 img{
max-width: 100px;
}
.act1 {float: left;
background-color: white;
  padding: 20px;
margin: 10px;
}


.act2 img{
max-width: 100px;
}
.act2 {float: left;
background-color: white;
  padding: 20px;
margin: 10px;
}


.act3 img{
max-width: 100px;
}
.act3 {float: left;
background-color: white;
  padding: 20px;
margin: 10px;
}


.act4 img{
max-width: 100px;
}
.act4 {float: left;
background-color: white;
  padding: 20px;
margin: 10px;
}


.act5 img{
max-width: 100px;
}
.act5 {float: left;
background-color: white;
    padding: 20px;
margin: 10px;
}

.act6 {float: left;
background-color: white;
    padding: 20px;
margin: 10px;
    padding-right: 42px;
    padding-bottom: 100px;
    padding-top: 40px;
}
<div style="clear: both;"></div>





.about {
    background-color: white;
border-radius: 5px;
    padding-top: 5px;
}


h3{
    background-color: white;
    padding-left: 10px;
    text-align: left;
    border-radius: 5px;
}

p {
    
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

li {
    
    padding-left: 20px;
    text-align: center;
}


ul {
    background-color: white;
    border-radius: 5px;
    padding: 10px 0 10px 0;
}


/* ======= footer navigation ======= */
#footer-nav {
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}

#footer-nav a {
    padding: 15px;
    text-decoration: none; 
    
}







/* ===== desktop ===== */
@media only screen and (min-width: 1000px) {
    
    #hamburger img{
        display: none;
    }
    
    #mobile-nav {
        display: none;
    }
}



/* ===== mobile ===== */
@media only screen and (max-width: 767px) {
	
    #main-nav{
        display: none;
    }
    
    #footer-nav{
    display: none;
    }
    
    #mobile-nav{
        display: inline-block;
        text-align: left;
    }
    
   
    
    .js #mobile-nav {
    display:none;
    }

    
    .js .slicknav_main-nav {
    display:block;
    }
    
    $('#mobile-nav').slicknav('open');
    
    
    
    
}




/* ===== tablet ===== */
@media only screen and (min-width: 768px) {
    
    .hamburger img{
        display: none;
}
    
    #mobile-nav {
        display: none;
    }
    
}